<% layout("/layouts/boilerplate") %>
<br />
<h3>Create New Listing</h3>
<br /><br />
<div class="row">
  <div class="col-8 offset-2">
    <form
      method="post"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-4">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Add a catchy title"
          type="text"
          class="form-control"
          id="title"
          required
        />
        <div class="valid-feedback">Title look's good!</div>
        <div class="invalid-feedback">Please enter valid title</div>
      </div>

      <div class="mb-4">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="Enter description"
          type="text"
          rows="3"
          cols="10"
          class="form-control"
          id="description"
          required
        ></textarea>
        <div class="valid-feedback">Description look's good!</div>
        <div class="invalid-feedback">Please enter a short description</div>
      </div>
      <div class="mb-4">
        Select Category
        <select name="listing[category]" class="form-select mt-2" required>
          <option value="Trending">Select Category</option>
          <option value="Trending">Trending</option>
          <option value="Rooms">Rooms</option>
          <option value="Mountains">Iconic Cities</option>
          <option value="Trending">Moutains</option>
          <option value="Mountains">Mountains</option>
          <option value="Trending">Castles</option>
          <option value="Rooms">Amazing pools</option>
          <option value="Mountains">Camping</option>
          <option value="Trending">Domes</option>
          <option value="Rooms">boats</option>
          <option value="Mountains">Arctic</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input
          name="listing[image]"
          type="file"
          class="form-control"
          id="image"
          required
        />
      </div>
      <div class="row">
        <div class="mb-4 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="1200"
            class="form-control"
            id="price"
            required
          />
          <div class="valid-feedback">Price look's good!</div>
          <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-4 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="India"
            type="text"
            class="form-control"
            id="country"
            required
          />
          <div class="valid-feedback">Country look's good!</div>
          <div class="invalid-feedback">Country name should be valid</div>
        </div>
      </div>
      <div class="mb-4">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="Dehli, Rajasthan, Oti etc."
          type="text"
          class="form-control"
          id="location"
          required
        />
        <div class="valid-feedback">Location look's good!</div>
        <div class="invalid-feedback">Location should be valid</div>
      </div>
      <button class="btn btn-dark add-btn">Add</button>
      <br /><br />
    </form>
  </div>
</div>
