<% layout("/layouts/boilerplate") %>
<div class="row">
  <h1 class="col-6 offset-3 mt-2">Forgot Password</h1>
  <div class="col-6 offset-3 mt-4">
    <% if (error && error.length) { %>
    <div class="alert alert-danger"><%= error %></div>
    <% } %> <% if (success && success.length) { %>
    <div class="alert alert-success"><%= success %></div>
    <% } %>

    <form action="/forgot" method="POST">
      <div class="mb-3">
        <label for="email" class="form-label"> Email address</label>
        <input
          placeholder="Enter your email address"
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
        />
      </div>

      <button type="submit" class="btn btn-success">Send reset link</button>
    </form>
  </div>
</div>
