<% layout("/layouts/boilerplate") %>
<div class="row">
  <h1 class="col-6 offset-3 mt-2">Reset Password</h1>
  <div class="col-6 offset-3 mt-2">
    <% if (error && error.length) { %>
    <div class="alert alert-danger"><%= error %></div>
    <% } %> <% if (success && success.length) { %>
    <div class="alert alert-success"><%= success %></div>
    <% } %>

    <!-- token URL se aa raha hai: /reset/:token -->
    <form action="/reset/<%= token %>" method="POST">
      <div class="mb-3">
        <label for="password" class="form-label">Enter New Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
        <!-- <label for="password" class="form-label">Confirm your Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        /> -->
      </div>

      <button type="submit" class="btn btn-success">Reset Password</button>
    </form>
  </div>
</div>
